* {
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    margin-top: 3em;
}

h1,
h2,
h3 {
    color: #444;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

header{
    padding: 2em 0;
}

header span {
    color: #999;
}

header h1 {
    font-size: 3em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #777;
}

nav a{
    text-decoration: none;
    color: white;
    padding: .5em 2em;

}

nav a:hover{
    background-color: #999;
}

section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}

section img {
    width: 25%;
    border: 1px solid #222;
}

section > p {
    margin: 1em 0;
}

section ul {
    padding-left: 1.5em;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#projects article {
    background: #777;
    padding: 1em;
}

#projects article img {
    width: 100%;
    border: 1px solid #222;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background: #777;
    color: white;
    padding: 1em 0;
    text-align: center;
}